$base-color: #274060;
$secondary-color: #FF9F1C;
$text-dark: #303030;
$border-color: #ececec;
$bg-color: #ffffff;

$category-margin: 5rem;
$key-width: 995px; //768
$super-small-width: 576px;

$font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
$font-size-base: 0.925rem;

$transition-time: .3s;