@import "defines";

.partners {
  width: 100%;
  display: flex;

  .partners-wrap {
    justify-content: center;

    .category-name-wrap{
      margin-bottom: $category-margin;
    }

    .partners-logos-container{
      margin: $category-margin / 2;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: $category-margin;

      .partner-wrap{

        .partner-logo{
          height: $category-margin * 1.5;
        }
      }
    }
  }
}